* {
  font-family: "Space Grotesk", sans-serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.dark {
  background-color: #1a1a1a;
}
/* Cacher la barre de défilement */
.hide-scrollbar {
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Edge */
}
